{% extends "base.html" %} {% block title %}Cipher Text Conversion - Guardian
Secure{% endblock %} 

{%block home%} {%endblock%} 

{% block head %} 
{{ super() }}
{% endblock %} 



{% block content %}
<div class="container col-md-6 offset-md-3">
  <div class="mb-4"><h3>Cipher Text Converter</h3></div>
  <form action="/cipher_conversion" method="post">
    <div class="mb-3">
    <label for="text" class="form-label">Enter the string to be hashed : </label><br />
    <input type="text" id="text" name="text" required class="form-control"><br>
  </div>
  <div class="mt-3 mb-3">
    <label for="hash_choice">Choose Hashing Algorithm :</label>
    <br>
    <br>
    <select class="form-control" id="hash_choice" name="hash_choice">
      <option value="1">SHA256</option>
      <option value="2">MD5</option></select>
    </div>
<br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form><br><br>

  {% if hashed_text and hash_type %}
  <div class="row alert alert-success">
    <div class="col">
  <p class="convert-text">
    Hashed Text: {{ hashed_text }}
  </p>
  </div>
  <div class="col offset-md-5"><button
      class="copy-button btn btn-success align-end"
      onclick="copyText()"
    >
  
      Copy
    </button>
 </div>
</div>
  <div class="copied-alert text-danger h5" id="copiedAlert">copied!</div>

  {% endif %}


<script>
  function copyText() {
    const text = document.querySelector(".convert-text").innerText;
    const textarea = document.createElement("textarea");
    textarea.value = text;
    document.body.appendChild(textarea);
    textarea.select();
    document.execCommand("copy");
    document.body.removeChild(textarea);

    const copiedAlert = document.getElementById("copiedAlert");
    copiedAlert.style.display = "block";

    setTimeout(function () {
      copiedAlert.style.display = "none";
    }, 2000);
  }
</script>
{% endblock %}
