{% extends "base.html" %}
{% block title %}Password Strength Testing - Guardian Secure{% endblock %}

{%block home%}
{%endblock%}

{% block head %}
{{ super() }}

{% endblock %}


{% block content %}
<div class="cotainer col-md-6 offset-md-3">
    <div class="mb-4">
        <h4>Password Strength Tester</h4>
    </div>
    <form method="post" action="/password_strength">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username :</label>
          <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password :</label>
          <input class="form-control" type="password" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


{% if error_message %}
<div style="color: red;">
<p class="error-message">Report: {{ error_message }}</p>
</div>
{% endif %}
{%if strongPassword%}
   <p class="alert alert-danger">Recommemded Password: <strong>{{strongPassword}}</strong></p>
{% endif %}
</div>
{% endblock %}
