<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrong Credentials</title>
    <!-- Include any CSS files here -->
</head>
<body>
    <h1>Wrong Credentials</h1>
    <p>The verification code you entered is incorrect. Please try again.</p>
    <h2>the problem is : {{problem}}</h2>
    <a href="{{ url_for('auth.reset_password') }}">Try Again to reset password</a><br>
    <a href="{{ url_for('auth.login') }}">Try to login</a>
</body>
</html>
